<!DOCTYPE html>
<html>
<head>
  <title>HackerApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<p class="notice"><%= notice %></p>
<% if user_signed_in? %>
<%= link_to "Submit Link", new_link_path %>
<%= link_to "Account", edit_user_registration_path %>
<%= link_to "Sign Out", destroy_user_session_path, method: :delete, data: {confirm: "Are you sure you want to delete This"} %>
<% end %>
<% if !user_signed_in? %>
<%= link_to "Sign In", user_session_path %>
<% end %>

<%= yield %>

</body>
</html>
